---
import { Image } from 'astro:assets';
import image1 from '/public/img/entire1.png';
import image2 from '/public/img/showcase0.png';
import image3 from '/public/img/showcase1.png';
import image4 from '/public/img/showcase2.png';
import image5 from '/public/img/github-showcase.png';
---

<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Proyectos</h2>
    <span class="section__subtitle">Trabajos más recientes</span>

    <div class="portfolio__container container swiper">
        <div class="swiper-wrapper">
            <!--==================== PORTFOLIO 1 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <Image src={image1} alt="Captura de pantalla del sitio web de Omnifood" class="portfolio__img" />



                <div class="portfolio__data">
                    <h3 class="portfolio__title">Sitio Web Trycat (Juego Wordle)</h3>
                    <p class="portfolio__description">Sitio web creado para dominar AlpineJS, es un clon del popular juego Wordle.</p>
                    <a aria-label="Ver Código del proyecto WordleGame en mi GitHub" href="https://github.com/ignaaaam/WordleGame" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Ver Código
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
            <!--==================== PORTFOLIO 2 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <Image src={image2} alt="Captura de pantalla de un sitio web temático de Halloween" class="portfolio__img" />



                <div class="portfolio__data">
                    <h3 class="portfolio__title">Sitio Web de Halloween</h3>
                    <p class="portfolio__description">Sitio web responsivo que simula una tienda de Halloween, solo frontend utilizando HTML, CSS y JavaScript, se utilizaron algunas bibliotecas de JavaScript y se agregaron algunas animaciones CSS.</p>
                    <a aria-label="Visitar web SpookyHalloween" href="https://www.spookyhalloween.art/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visitar Web
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 3 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <Image src={image3} alt="Captura de pantalla del sitio web de Natours" class="portfolio__img outdoors__img" />



                <div class="portfolio__data">
                    <h3 class="portfolio__title">Sitio Web Natours</h3>
                    <p class="portfolio__description">Sitio web sobre recorridos naturales, realizado en un curso mientras dominaba habilidades de HTML y CSS. Es una página de destino con una interfaz de usuario limpia, realizada íntegramente con HTML y CSS puros.</p>
                    <a aria-label="Visitar web del proyecto Natours" href="https://websiteproject-natours.netlify.app/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visitar Web
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 4 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <Image src={image4} alt="Otra captura de pantalla del sitio web de Omnifood" class="portfolio__img" />


                <div class="portfolio__data">
                    <h3 class="portfolio__title">Sitio Web Omnifood</h3>
                    <p class="portfolio__description">Sitio web sobre entrega de alimentos saludables hecho en mis primeros días de aprendizaje de HTML y CSS mientras comenzaba a aprender tecnologías básicas.</p>
                    <a aria-label="Visitar web del proyecto Omnifood" href="https://omnifoodrestaurant.netlify.app/" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visitar Web
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
            <!--==================== PORTFOLIO 5 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <Image src={image5} alt="Captura de pantalla de mi perfil de GitHub" class="portfolio__img" />

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Otros proyectos</h3>
                    <p class="portfolio__description">Echa un vistazo a mi perfil de GitHub para ver proyectos más avanzados (frontend/backend) y conocer más sobre mis habilidades y las tecnologías que estoy aprendiendo.</p>
                    <a aria-label="Visitar mi perfil de GitHub" href="https://github.com/ignaaaam" target="_blank"
                        class="button button--flex button--small portfolio__button">
                        Visitar GitHub
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Swiper Arrows -->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>

        <!-- Swiper Pagination -->
        <div class="swiper-pagination swiper-pagination-portfolio">
        </div>
    </div>
</section>

<script>
    import Swiper from 'swiper'
    import { Navigation, Pagination } from 'swiper/modules'

    import 'swiper/css/navigation'
    import 'swiper/css/pagination'
    import 'swiper/css'
    /*==================== PORTFOLIO SWIPER  ====================*/
let swiperPortfolio = new Swiper('.portfolio__container', {
    modules: [Navigation, Pagination],
     loop: true,
     cssMode: true,
     grabCursor: true,
     navigation: {
         nextEl: '.swiper-button-next',
         prevEl: '.swiper-button-prev',
     },
     pagination: {
         el: '.swiper-pagination',
         clickable: true,
     },
 });
</script>
